@charset "UTF-8";
@import "../../lib/normalize-css/normalize";
$base-font:'나눔바른고딕',nanumbarungothic,'나눔고딕',nanumgothic,'맑은 고딕',malgun gothic,apple sd gothic neo,'돋움',dotum,sans-serif;
@mixin clearfix {
	*zoom:1;
	&:after{
		content:'';
		display:block;
		clear:both;
	}
}
@mixin simple-reset {
	margin:0;
	padding:0;
	border:0;
	background:none transparent;
}