@charset "UTF-8";
@import "../../lib/normalize-css/normalize";
@mixin clearfix {
	*zoom:1;
	&:after{
		content:'';
		display:block;
		clear:both;
	}
}
@mixin simple-reset {
	margin:0;
	padding:0;
	border:0;
	background:none transparent;
}