@charset "utf-8";

@import "./util/util";
$base-font:'나눔바른고딕',nanumbarungothic,'나눔고딕',nanumgothic,'맑은 고딕',malgun gothic,apple sd gothic neo,'돋움',dotum,sans-serif;

.ie6,
.ie7,
.ie8 {
    a * {
        cursor:pointer;
    }
}

//layout
.oshx-root{
    @include simple-reset;
    font-family:$base-font;
}
.oshx-body{
    @include simple-reset;
}
.oshx-header{
    @include simple-reset;
}
.header__logo{
    @include simple-reset;
    font-family:$base-font;
    text-align:center;
}